<html>
  <head></head>
  <body>
    <h2>Add a new Item</h2>
    <form method="POST">
      <label for="item_name">Item Name</label>
      <input name="item_name" type="text" />
      <br />
      <label for="item_name">Item Price</label>
      <input name="value" type="text" />
      <br />
      <input type="submit" name="submit" />
    </form>
    <p>[<a href="/">Go back</a>]</p>
  </body>
</html>
